<div class="panel panel-default">
    <div class="panel-body">
        <h1 class="panel-title" style="font-size:30px; align-content: center;">{{'Betaling' | translate}}</h1>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3"><label for="First_name">{{'Maand' | translate}}</label></div>
            <div class="col-lg-4"><input type="text" class="form-control" id="First_name" placeholder="John"></div>
        </div>
        <div class="row">
            <div class="col-lg-3"><label for="Last_name">{{'Achternaam' | translate}}</label></div>
            <div class="col-lg-4"><input type="text" class="form-control" id="First_name" placeholder="John"></div>
            <div class="col-lg-3"><div id="paypal-button"></div></div>
        </div>
        
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>
                            <th>{{ 'Maand' | translate}}</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of invoices">
                                <td>{{i.maand}}</td>
                                <td>{{i.paid}}</td>
                               <td>
                            <p data-placement="top" data-toggle="tooltip" title="Invoegen"><button class="btn btn-success btn-xs" (click)="onClickOpenInvoice(i)"><i class="fa fa-car" aria-hidden="true"></i>Details | translate</button></p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Invoegen"><button class="btn btn-success btn-xs" (click)="onClickInvoicePaid(i)"><i class="fa fa-car" aria-hidden="true"></i>Betaald | translate</button></p>
                        </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>
                            <th>{{ 'Prijs' | translate}}</th>
                            <th>{{ 'Omschrijving' | translate}} </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ir of invoiceRowss">
                                <td>{{ir.price}}</td>
                                <td>{{ir.description}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>