<!--<input id="datePicker" type="date" [(ngModel)]=currentSelectedDate/>-->
<table id="mytable1" class="table table-bordred table-striped">
            <thead>
                <th>{{'Selecteer de datum en het kenten:' | translate }}</th>
            </thead>
        </table>

<input id="datePicker" type="date" [ngModel]="currentSelectedDate" asp-format="{yyyy-MM-dd}" (ngModelChange)="datechange($event)"
    value="{{this.currentSelectedDate | date: 'yyyy-MM-dd'}}" />

<select [ngModel]="selectedVehicle" (ngModelChange)="onChangeLicensePlate($event)" name="vehicleView">
            <option [ngValue]="t" *ngFor="let t of vehicleList" >{{t.licensePlate}}</option>
        </select>
        <br>
    <label >
                    <font color="Orange">{{nothingErrorMessage | translate}}</font>
                </label>
<div class="col-md-12">
    <div class="table-responsive">




        <table id="mytable" class="table table-bordred table-striped">
            <thead>
                <th>{{'Datum' | translate}}</th>
                <th>{{'Kenteken' | translate}}</th>
            </thead>
            <tbody>
                <td>{{currentSelectedDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{currentLicencePlate}}</td>
            </tbody>

        </table>
    </div> 
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
            <sebm-google-map-polyline>

                <sebm-google-map-polyline-point *ngFor="let m of allMovementsList; " [latitude]="m.latitude" [longitude]="m.longitude">
                </sebm-google-map-polyline-point>
            </sebm-google-map-polyline>

        </sebm-google-map>
    </div>



    <div class="col-md-12">

        <!--<div class="panel panel-default">
        </div>
        <br>
        <div class="panel-body">
            <h2 class="panel-title pull-left" style="font-size:30px;">Tarief calculatie voor {{currentLicencePlate}}:</h2>
        </div>-->
<br>
<table id="mytable2" class="table table-bordred table-striped">
            <thead>
                <th>{{'Bereken afstand voor' | translate}} {{currentLicencePlate}} </th>
            </thead>
            <tbody>
                <td>    
                </td>
            </tbody>
        </table>

        <table id="mytable3" class="table table-bordred table-striped">
            <thead>
                <th>{{'Van datum' | translate}}</th>
                <th>{{'Tot datum' | translate}}</th>
            </thead>
            <tbody>
                <td>
                    <input id="datePickerVan" type="date" [ngModel]="currentSelectedVanDate" asp-format="{yyyy-MM-dd}" (ngModelChange)="vandatechange($event)"
                        value="{{this.currentSelectedVanDate | date: 'yyyy-MM-dd'}}" />
                </td>
                <td>
                    <input id="datePickerTot" type="date" [ngModel]="currentSelectedTotDate" asp-format="{yyyy-MM-dd}" (ngModelChange)="totdatechange($event)"
                        value="{{this.currentSelectedTotDate | date: 'yyyy-MM-dd'}}" />
                </td>
            </tbody>

        </table>
        <label >
                    <font color="Red">{{nothingPeriodErrorMessage | translate}}</font>
                </label>
                <br>
         <!--<label >
                    <font color="Red">{{dateErrorMessage}}</font>
                </label>-->


        <button class="btn btn-primary btn-xs" (click)="onclickCalculate()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{ 'Bereken afstand' | translate}}</button>
<br>
<br>
        <div class="panel panel-default">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="mytable" class="table table-bordred table-striped">
                            <thead>
                                <th>{{'Regio' | translate}}</th>
                                <th>{{'Kenteken' | translate}}</th>
                                <th>{{'AfstandType' | translate}}</th>
                                <th>{{'Afstand' | translate}}</th>
                            </thead>
                            <tbody>
                               
                                    <td>{{regio}}</td>
                                    <td>{{currentLicencePlate}}</td>
                                    <td>KM</td>
                                    <td>
                                        {{afstand}}
                                         </td>
                               
                            </tbody>

                        </table>


                    </div>
                </div>
            </div>

        </div>
    </div>