<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
<div class="mainbody container-fluid">

    <div class="row">
        <div class="navbar-wrapper">
            <div class="container-fluid">
                <navbar-Top></navbar-Top>
            </div>
        </div>
        <div style="padding-top:50px;"> </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <navbar-Left></navbar-Left>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">-->
            <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

                <sebm-google-map-polyline>

                    <sebm-google-map-polyline-point *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng">
                    </sebm-google-map-polyline-point>
                </sebm-google-map-polyline>



            </sebm-google-map>
        <!--</div>
    </div>
</div>-->
<!--<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="15">
                <sebm-google-map-polyline>
                    *ngFor="let m of markers; let i = index"
                    <sebm-google-map-polyline-point [latitude]="m.lat" [longitude]="m.long">
                    </sebm-google-map-polyline-point>
                </sebm-google-map-polyline>
        </sebm-google-map>-->