<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
<div class="mainbody container-fluid">
    <div class="row">
        <div class="navbar-wrapper">
            <div class="container-fluid">
                <navbar-Top></navbar-Top>
            </div>
        </div>
        <div style="padding-top:50px;"> </div>
        <div *ngIf="loginService.loginPage">
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                    <navbar-Left></navbar-Left>
            </div>
            <div class="col-lg-9 col-md-9 col-xs-9">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div *ngIf="!loginService.loginPage">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <login-page></login-page>
            </div>
        </div>
    </div>
    <!--<ng2-datepicker [options]="options" [(ngModel)]="date">2017-04-11</ng2-datepicker>
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
                <thead>
                    <th>Regio</th>
                    <th>Datum</th>
                    <th>Kenteken</th>
                </thead>
                <tbody>
                    <td>1</td>
                    <td>10-04-2017</td>
                    <td>123</td>
                </tbody>

            </table>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <route-page> </route-page>
            <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
                <sebm-google-map-polyline>

                    <sebm-google-map-polyline-point *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng">
                    </sebm-google-map-polyline-point>
                </sebm-google-map-polyline>

            </sebm-google-map>
        </div>
    </div>-->